{% extends 'base.html.twig' %}

{% block title %}{{'nav.cart'|trans}}{% endblock %}

{% block body %}
{% if cart is not empty %}

    <table class="table">
        <thead>
            <tr>
                <td>{{'table.product'|trans}}</td>
                <td>{{'table.quantity'|trans}}</td>
                <td>{{'table.price'|trans}}</td>
                <td>{{'table.amount'|trans}}</td>
                <td>{{'table.action'|trans}}</td>
            </tr>
        </thead>
        <tbody>

            {% set total = 0 %}
            {% set totalProduct = 0 %}

            {% for content in cart.cartContents %}

                {% set totalProduct = content.quantity * content.product.price %}
                {% set total = total + totalProduct %}
        
                <tr>
                    <td>{{content.product.name}}</td>
                    <td>{{content.quantity}}</td>
                    <td>{{content.product.price}}</td>
                    <td>{{totalProduct}} $</td>
                    <td><a href="{{path('cart_product_delete', {id:content.id})}}" class="btn btn-danger">{{'button.delete'|trans}}</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

<p>{{'message.cart_total'|trans}} {{total}} $</p>
<a class="btn btn-primary" href="{{path('cart_buy')}}">{{'button.buy'|trans}}</a>
{% else %}
    <p>{{'message.cart_empty'|trans}}<a class="btn btn-primary" href="{{path('product')}}">{{'button.back'|trans}}</a></p>
{% endif %}
{% endblock %}
