{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
{% if cart is not empty %}

    <table class="table">
        <thead>
            <tr>
                <td>Produit</td>
                <td>Quantité</td>
                <td>Prix</td>
                <td>Montant</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>

            {% set total = 0 %}
            {% set totalProduct = 0 %}

            {% for content in cart.cartContents %}

                {% set totalProduct = content.quantity * content.product.price %}
                {% set total = total + totalProduct %}
        
                <tr>
                    <td>{{content.product.name}}</td>
                    <td>{{content.quantity}}</td>
                    <td>{{content.product.price}}</td>
                    <td>{{totalProduct}} $</td>
                    <td><a href="{{path('cart_product_delete', {id:content.id})}}" class="btn btn-danger">Supprimer</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

<p>Montant total du panier : {{total}} $</p>
<a class="btn btn-primary" href="#">Acheter</a>
{% else %}
    <p>Votre panier est vide <a class="btn btn-primary" href="{{path('product')}}">Retour a liste des produtis</a></p>
{% endif %}
{% endblock %}
