{% extends 'base.html.twig' %}

{% block title %}
    {{product.name}}
{% endblock %}

{% block body %}

<br><br>
<div style="width: 98%;box-shadow:0px 0px 5px grey;">
    <h1>{{product.name}}  {{product.price}}$</h1>
    
    <img src="{{asset('/uploads/'~ product.photo)}}" alt="product photo"
        style="width: 200px;">

    <p>{{product.stock}} {{'product.in_stock'|trans}}</p>
    <p>{{product.description}}</p>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{path('product_edit', {id:product.id})}}">{{'button.update'|trans}}</a>
    <a class="btn btn-danger" href="{{path('product_delete', {id:product.id})}}">{{'button.delete'|trans}}</a>
{% endif %}
{% if app.user %}
    <a class="btn btn-primary" href="#">{{'button.add_cart'|trans}}</a>
{% else %}
    <p>{{'message.connect_to_add'|trans}}</p>
{% endif %}

{% endblock %}